$width: 400px;

.evoweb-barcode-scanner {
	display: block;
	position: relative;
	width: $width;
	// 73% of the width
	height: calc(0.73 * #{$width});

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
	}

	canvas.overlay {
		border: 2px solid #000;
		position: absolute;
		top: 10%;
		left: 10%;
		height: 80%;
		width: 80%;
		z-index: 2;
	}
}

.debug {
	border: 1px solid grey;
	padding: 5px;
}