/* line 1, /home/www/javascript/barcode_scanner/htdocs/Resources/Sass/main.scss */
.hidden {
  display: none;
}

/* line 5, /home/www/javascript/barcode_scanner/htdocs/Resources/Sass/main.scss */
.evoweb-barcode-scanner {
  display: block;
  position: relative;
  height: 480px;
  width: 640px;
}

/* line 11, /home/www/javascript/barcode_scanner/htdocs/Resources/Sass/main.scss */
.evoweb-barcode-scanner video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* line 21, /home/www/javascript/barcode_scanner/htdocs/Resources/Sass/main.scss */
.evoweb-barcode-scanner canvas {
  border: 2px solid #000;
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  z-index: 2;
}
